venviroment/*
data/raw/poligonos/*
notebooks/.ipynb_checkpoints/*
experimentos/satscan_experiment_data/geo_para/geo_*
experimentos/satscan_experiment_data/geo_br/geo_*
experimentos/satscan_experiment_data/geo_pa_ma_to/geo_*

